.nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.nav-item {
  /* border: 2px solid rebeccapurple; */
}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  color: rgb(196, 94, 94);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.navigation-wrap.scroll-on {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.15s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* .................................................. */

.main-btn {
  background-color: brown;
  color: white;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-btn2 {
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head {
  /* border: 2px solid darkblue; */
  height: 80vh;
}

.top-banner {
  width: 100%;
  background: url("../01_Foodies_images/images/bg/bg-1.jpg") no-repeat center;
  background-size: cover;
  padding: 16.875rem 0 9.375;
}

/* ................................................... */

.counter-section {
  background-color: rgb(184, 61, 102);
  padding: 2.5rem 0;
}

.counter-section p {
  color: white;
  text-transform: uppercase;
}

.btn-hover:hover {
  border: 2px solid rgb(184, 61, 102);
  background-color: #fff;
  color: rgb(184, 61, 102);
}

.about-section {
  background-color: white;
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}

.about-section .text-sec {
  padding-left: 2rem;
}

/* ..................................... */

.food-type {
  /* border: 2px solid red; */
  padding-top: 3.25rem;
}

.food-type ul li {
  list-style: none;
  font-size: 1rem;
  color: rgb(161, 149, 149);
  line-height: 32px;
  position: relative;
  margin-left: 30px;
}

.food-type ul li::before {
  position: absolute;
  left: -2.1875rem;
  color: rgb(184, 61, 102);
  font-size: 1.25rem;

  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

/* ................................................................................. */
#story {
  /* background-color: #f0f0f0; */
  background: url("../01_Foodies_images/images/bg/bg-2.jpg") no-repeat center;
  padding: 100px 0;
  text-align: center;
  width: 100%;
  height: 28.125rem;
}

.story-section h2 {
  font-size: 36px;
  font-weight: bold;
  color: #e11d48;
  margin-bottom: 20px;
}

.story-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #1b1919;
  font-weight: bolder;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-hover:hover {
  opacity: 0.8;
}

/* .......................................................... */

.explore-food .card {
  border: none;
  background-color: transparent;
  border-radius: 0.9375rem;
}

.explore-food .card img {
  border-radius: 0.9375rem;
  object-fit: cover;
}

.explore-food .card span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e11d48;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #eee;
}

.explore-food .card span del {
  color: rgb(168, 150, 150);
  margin-left: 0.5rem;
}
/* .......................................................................... */

.ex-head {
  color: #eee;
}

.testimonial-section {
  background-color: #e11d48;
}

.testimonial-section .carousel-item {
  padding: 5rem 3.125rem;
  background-color: #eee;
  border-radius: 0.9375rem;
  text-align: center;
  height: 103vh;
}
